body {
  background-color: brown;
  margin: 0;
  font-family: sans-serif;
}

header,
footer {
  background-color: blueviolet;
}

a {
  text-decoration: none;
  color: white;
}

main {
  min-height: calc(100vh - 280px);
  padding: 40px 16px;
}

footer {
  display: flex;
  justify-content: space-between;
}

.modal-body {
  width: 500px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}
