body {
  background-color: brown;
  margin: 0;
  font-family: sans-serif;
}

header,
footer {
  background-color: blueviolet;
}

a {
  text-decoration: none;
  color: white;
}

main {
  min-height: calc(100vh - 280px);
  padding: 40px 16px;
}
