body {
  background-color: brown;
  margin: 0;
  font-family: sans-serif;
}

header,
footer {
  background-color: blueviolet;
}

a {
  text-decoration: none;
  color: white;
}

main {
  height: calc(100vh - 280px);
}
