.main {
  background-color: #000000;
}
nav {
  display: flex;
  gap: 40px;
}
header {
  display: flex;
  justify-content: space-around;
}

aside {
  position: absolute;
  width: 200px;
}

.cards{
  display: flex; 
  color:aliceblue; 
  justify-content:center;
  margin-bottom: 40px;
}