.main {
  background-color: #000000;
}
nav {
  display: flex;
  gap: 40px;
}
header {
  display: flex;
  justify-content: space-around;
}

aside {
  position: absolute;
  width: 200px;
}

.cards {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  justify-content: center;
  margin-bottom: 20px;
  margin: 100px;
  gap: 50px;
}

body {
  color: aliceblue;
}

.post img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

@media (min-width: 960px) {
  .cards {
    flex-direction: row;
    justify-content: center;
  }
}
